/*less mix - start*/
@white:#ffffff;
@black:#000000;
/*less mix - finish*/


/*global style - start*/
*{
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
}
.main-body{
    font-family: 'Raleway', sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0px auto;
}
.spacer{
    width: 100%;
    height: 50px;
}
::placeholder {
    font-family: 'Raleway', sans-serif;
}
button{
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
}
.button-black{
    position: relative;
    z-index: 100;
    background-color: @black;
    color: @white;
    border: none;
    border-radius: 5px;
    border: 1px rgba(255, 255, 255, 0) solid;
    font-size: 20px;
    transition-property: background-color, color;
    transition-duration: 0.5s;
}
.button-white{
    position: relative;
    z-index: 100;
    background-color: @white;
    color: @black;
    border: 1px @black solid;
    border-radius: 5px;
    font-size: 20px;
    transition-property: background-color, color;
    transition-duration: 0.5s;
}
.button-white:hover{
    background-color: @black;
    color: @white;
}
.button-size-full-width{
    width: 100%;
}
.button-size-l{
    padding: 20px 20px;
}
.button-size-m{
    padding: 15px 20px;
}
.button-size-s{
    padding: 10px 15px;
}
.black-link-style{
        text-decoration: none;
        color: @black;
        font-size: 18px;
        padding: 15px;
        transition-property: border-radius, background, color;
        transition-duration: 0.5s;
}
.black-link-style:hover{
    border-radius: 5px;
    background: @black;
    color: @white;
}
.header-text-style{
    font-size: 40px;
    text-align: center;
}
.title-text-style{
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}
.subtitle-text-style{
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
}
.stor-name{
    font-size: 30px;
    color: @black;
    font-weight: 700;
    text-decoration: none;
    padding: 0px 5px;
}
.stor-name:active{
    color: @black;
}
.logo{
    width: 70px;
    height: 70px;
    background: url(../img/logo/logo.png) no-repeat center center;
    background-size: 100%;
}
.product-box{
    &__img{
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px; 
    }
    &__shadow{
        opacity: 0;
        display: grid;
        grid-template-rows: 4fr 1fr;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        text-align: center;
        align-content: center;
        transition-property: opacity;
        transition-duration: 0.5s;
    }
    &__shadow:hover{
        opacity: 1;
    }
    &__product-name{
        text-align: center;
        color: @white;
        padding: 20px;
    }
    &__button-block{
        padding: 20px;
    }
    &__buy-button{
        width: 100%;
        margin-top: 20px;
    }
}
.price{
    position: absolute;
    font-size: 35px;
    font-weight: 700;
    color: @white;
    -webkit-text-stroke: 2px @black;
    bottom: 45px;
    left: 15px;
}
.price-old{
    position: absolute;
    text-decoration: line-through;
    font-size: 20px;
    font-weight: 700;
    -webkit-text-stroke: 0.5px @white;
    bottom: 15px;
    left: 15px;
}
.rub{
    font-size: 25px;
    -webkit-text-stroke: 2px @black;

}
.rub-old{
    font-size: 16px;
    -webkit-text-stroke: 0.5px @white;
}
.social-network-icon{
    font-size: 30px;
}
.slick{
    &-track{
        height: 100%;
    }
    &-list{
        height: 100%;
    }
}
/*global style - finish*/



/*header menu - start*/
.header-menu{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    &__container{
        box-shadow: -1px 20px 45px -10px rgba(0,0,0,0.35);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        background: @white;
    }
    &__content{
        display: grid;
        grid-template-columns: 0fr 0fr 10fr;
        align-items: center;
        height: 90px;
        padding: 0px 50px;
    }
}
.navigation{
    &__list{
        text-align: right;
    }
    &__item{
        display: inline-block;
        padding: 0px 10px;
    }
}
/*header menu - finish*/


/*promo - start*/
.promo{
    margin: 0px auto;
    &__content{
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 40px;
    }
    &-slider{
        display: grid !important;
        width: 100%;
    }
    &-slide-box{
        display: grid !important;
        align-items: center !important;
        height: 100%;
        cursor: pointer;
        text-decoration: none;
        &__content{        
            padding: 50px;
        }
        &__gradient{
            position: absolute;
            z-index: 1;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &__gradient:after{
            content: "";
            display: block;    
            width: 100%;
            height: 100%;    
            position: relative;
            top: 0;      
            left: 0;   
            background: transparent;
            background-image: linear-gradient( left, @black, rgba(255, 255, 255, 0));
            opacity: 0.8;
            border-radius: 5px;
        }
        &__img{
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 5px;
        }
        &__header{
            position: relative;
            z-index: 5;
            font-size: 40px;
            color: @white;
            padding: 20px 0px;
        }
        &__title{
            position: relative;
            z-index: 5;
            font-size: 25px;
            color: @white;
            padding: 20px 0px;
        }
        &__subtitle{
            position: relative;
            z-index: 5;
            font-size: 18px;
            color: @white;
            padding: 20px 0px;
        }
        &__button{
            margin: 20px 0px;
        }
    }
}
.daily-product{
    display: grid;
    gap: 20px;
    &__category-name{
        font-size: 35px;
        text-align: center;
        grid-column-start: 3;
        grid-column-end: 1;
    }
}
.product-box_daily-product{
    position: relative;
    width: auto;
    height: 355px;
}
.product-box__product-name_daily-product{
    padding: 10px;
}
.product-box__button-block_daily-product{
    padding: 10px;
}


@media (max-width: 1199px) {
    .promo{
        &__content{
            padding: 0px 20px;
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .promo{
        &__content{
            grid-template-columns: 1fr;
        } 
    }
    .daily-product{
        justify-content: center;
    }
}


/*promo - finish*/



/*benefits - start*/
.benefits{
    &__container{
        box-shadow: -1px 20px 45px -10px rgba(0,0,0,0.35);
        background: @black;
        color: @white;
        text-align: center;
        border-radius: 5px;
    }
    &__body{
        padding: 70px 50px;
        display: grid;
        gap: 50px;
    }
    &__content{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 50px;
    }
    &-box{
        &__title{
            padding: 15px 0px;
        }
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .benefits{
        &__content{
            grid-template-columns: 1fr 1fr;
        }
    }
}
/*benefits - finish*/

/*catalog - start*/
.catalog{
    &__container{
        box-shadow: -1px 20px 45px -10px rgba(0,0,0,0.35);
        border-radius: 5px;
    }
    &__content{
        display: grid;
        grid-template-columns: 2fr 5fr;
        gap: 50px;
        padding: 70px 50px;
    }
    &__header{
        grid-column-start: 3;
        grid-column-end: 1;
    }
}
.select-sex{
    &__content{
        padding-bottom: 50px;
    }
    &__button{
        font-size: 25px;
        margin-bottom: 20px;
    }
}

.category-filter{
    &__item{
        display: block;
        margin: 20px 0px;
        font-size: 25px;
        border-radius: 0px;
        border-bottom: 1px @black solid;
        transition-property: background-color, border-radius;
        transition-duration: 0.5s;
    }
    &__link{
        display: block;
        text-decoration: none;
        color: @black;
        cursor: pointer;
        padding: 8px 0px;
        transition: all;
        transition-property: color, padding;
        transition-duration: 0.5s;
    }
    &__item:hover{
        background-color: @black;
        border-radius: 5px;
    }
    &__link:hover{
        color: @white;
        padding: 8px 20px;
    }
    &__item:active{
        background-color: @black;
        border-radius: 5px;
    }
    &__link:active{
        color: @white;
        padding: 8px 20px;
    }
}
.showcase{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    position: relative;
}
.load-more-product{
    text-align: center;
    grid-column-start: 3;
    grid-column-end: 2;
}
.product-box_showcase{
    position: relative;
    width: 250px;
    height: 350px;
}
@media (max-width: 1199px) {
    .product-box_showcase{
        width: 100%;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .showcase{
        grid-template-columns: 1fr 1fr;
    }
}

/*catalog - finish*/


/*about-us - start*/
.about-us {
    &__container {
        box-shadow: -1px 20px 45px -10px rgba(0,0,0,0.35);
        background: @black;
        border-radius: 5px;
    }
    &__body {
        padding: 70px 50px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;
    }
    &__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
    }
    &__header {
        color: @white;
    }
    &__subtitle {
        grid-column-start: 1;
        color: @white;
    }
    &__text-spacer{
        display: block;
        padding-bottom: 15px;
    }
    &__gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}
.abou-us-gallery-box {
    height: 100%;
    &__photo {
        width: 100%;
        height: 80%;
        object-fit: cover;
        border-radius: 5px;
    }
    &__name {
        padding: 10px 0px;
        text-align: center;
        color: @white;
        font-size: 30px;
    }
    &__title {
        text-align: center;
        color: @white;
    }
}
@media (max-width: 991px) {
    .about-us{
        &__content{
            grid-template-columns: 1fr;
        }
    }
}
/*about-us - finish*/

/*subscribe-form - start*/
.subscribe-form {
    text-align: center;
    &__container {
        box-shadow: -1px 20px 45px -10px rgba(0,0,0,0.35);
        border-radius: 5px;
    }
    &__content {
        padding: 70px 50px;
        display: grid;
        justify-content: center;
    }
    &__title {
        padding-top: 20px;
        padding-bottom: 50px;
    }
}
.subscribe-form-body {
    &__input {
        width: 350px;
        padding: 10px 15px;
        font-size: 20px;
        border: 1px solid rgba(255, 255, 255, 0);
        border-bottom: 1px solid black;
        box-shadow: -1px 20px 45px -10px rgba(0,0,0,0.35);
    }
    &__input:focus-visible {
        border: 1px solid black !important;
        outline: none;
        border-radius: 5px;
    }
    &__button {
        margin-left: 10px;
        box-shadow: -1px 20px 45px -10px rgba(0,0,0,0.35);
    }
}
/*subscribe-form - finsh*/

/*footer - start*/
.footer {
    &__container {
        box-shadow: -1px 20px 45px -10px rgba(0,0,0,0.35);
    }
    &__content {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
.contact-box {
    display: grid;
    padding: 50px;
    gap: 50px;
    border-bottom: 1px solid black;
    &__header {
        font-weight: 700;
    }
    &__adress-link{
        color: @black;
    }
    &__adress-block {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        gap: 20px;
    }
    &__social-network-block{
        text-align: center;
    }
}
.copyright-box {
    display: grid;
    grid-template-columns: 1fr 4fr 5fr;
    align-items: center;
    padding: 20px 50px;
    &__copyright-info {
        text-align: right;
    }
}

@media (max-width: 768px) {
    .contact-box__adress-block{
        grid-template-columns: 1fr;
    }
    .copyright-box{
        grid-template-columns: 1fr;
        &__logo{
            display: none;
        }
        &__company-name{
            display: none;
        }
    }
}
/*footer - finish*/


